In [1]:
# ============================================================================
# SECTION 1: LANGFUSE CONFIGURATION
# ============================================================================

import os

# Set Langfuse credentials directly
os.environ["LANGFUSE_SECRET_KEY"] = "****"
os.environ["LANGFUSE_PUBLIC_KEY"] = "****"
os.environ["LANGFUSE_BASE_URL"] = "****"

print("‚úÖ Langfuse credentials configured!")

‚úÖ Langfuse credentials configured!

In [3]:
# ============================================================================
# SECTION 2: IMPORTS AND CONFIGURATION
# ============================================================================

import os
import sys
from dotenv import load_dotenv
from langchain_openai import ChatOpenAI
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain_community.agent_toolkits.sql.base import create_sql_agent
import pandas as pd
import pymysql
from getpass import getpass
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Import Langfuse
from langfuse.callback import CallbackHandler

print("‚úÖ All libraries imported successfully!")

‚úÖ All libraries imported successfully!

In [4]:
from langchain_community.utilities import SQLDatabase
import urllib.parse

db_user = "****"
db_password = urllib.parse.quote_plus("****")  # URL-encode password
db_host = "****"
db_name = "****"

try:
    db = SQLDatabase.from_uri(
        f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",
        sample_rows_in_table_info=3
    )
    print("‚úÖ Successfully connected to the database!")

    # Display table names
    tables = db.get_usable_table_names()
    print("üìã Tables in the database:")
    for t in tables:
        print("-", t)

except Exception as e:
    print("‚ùå Failed to connect to the database.")
    print("Error:", e)

‚úÖ Successfully connected to the database!
üìã Tables in the database:
- discounts
- t_shirts

In [5]:
print(db.get_table_info(["t_shirts"]))

CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43
*/

In [6]:
print(db.get_table_info(["discounts"]))

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/

In [7]:
from langchain_openai import ChatOpenAI
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain_community.agent_toolkits.sql.base import create_sql_agent
from langfuse.callback import CallbackHandler

# Initialize Langfuse callback handler
langfuse_handler = CallbackHandler()

# LLM
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0.4, api_key="****")

# Toolkit
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

# Agent with Langfuse callback
agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type="openai-tools"   # required for GPT-4o
)

# Ask a question with Langfuse tracking
response = agent.invoke(
    {"input": "How many t-shirts are in stock?"},
    config={"callbacks": [langfuse_handler]}
)
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


0mdiscounts, t_shirts
Invoking: `sql_db_schema` with `{'table_names': 't_shirts'}`



CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43

Invoking: `sql_db_query_checker` with `{'query': 'SELECT SUM(stock_quantity) AS total_stock FROM t_shirts;'}`


```sql
SELECT SUM(stock_quantity) AS total_stock FROM t_shirts;

Invoking: `sql_db_query` with `{'query': 'SELECT SUM(stock_quantity) AS total_stock FROM t_shirts;'}`


There are a total of 4484 t-shirts in stock.

> Finished chain.
There are a total of 4484 t-shirts in stock.

In [8]:
response = agent.invoke(
    {"input": "How much is the price of the inventory for all small size tshirts"},
    config={"callbacks": [langfuse_handler]}
)
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


0mdiscounts, t_shirts
Invoking: `sql_db_schema` with `{'table_names': 't_shirts'}`



CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43
*/
Invoking: `sql_db_schema` with `{'table_names': 'discounts'}`



CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00

Invoking: `sql_db_query_checker` with `{'query': "SELECT SUM(price * stock_quantity) AS total_inventory_price\nFROM t_shirts\nWHERE size = 'S';"}`
responded: The relevant table for your query is `t_shirts`, which contains the following columns: `t_shirt_id`, `brand`, `color`, `size`, `price`, and `stock_quantity`.

To find the total price of the inventory for all small size t-shirts, I will sum the price of the small size t-shirts multiplied by their stock quantity.

Here's the query I will use:

```sql
SELECT SUM(price * stock_quantity) AS total_inventory_price
FROM t_shirts
WHERE size = 'S';
```

I will check this query for correctness before executing it.

```sql
SELECT SUM(price * stock_quantity) AS total_inventory_price
FROM t_shirts
WHERE size = 'S';

Invoking: `sql_db_query` with `{'query': "SELECT SUM(price * stock_quantity) AS total_inventory_price\nFROM t_shirts\nWHERE size = 'S';"}`


The total price of the inventory for all small size t-shirts is $22,125.

> Finished chain.
The total price of the inventory for all small size t-shirts is $22,125.

In [9]:
response = agent.invoke(
    {"input": "If i Sell all my Levi tshirt today by applying discounts how much revenue will be generated?"},
    config={"callbacks": [langfuse_handler]}
)
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


0mdiscounts, t_shirts
Invoking: `sql_db_schema` with `{'table_names': 'discounts'}`



CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/
Invoking: `sql_db_schema` with `{'table_names': 't_shirts'}`



CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43

Invoking: `sql_db_query_checker` with `{'query': "SELECT t.price * (1 - d.pct_discount / 100) * t.stock_quantity AS revenue\nFROM t_shirts t\nJOIN discounts d ON t.t_shirt_id = d.t_shirt_id\nWHERE t.brand = 'Levi'"}`
responded: The relevant tables are `t_shirts` and `discounts`. The `t_shirts` table contains information about the t-shirts, including their brand, price, and stock quantity. The `discounts` table contains discount percentages for specific t-shirts.

To calculate the total revenue generated from selling all Levi t-shirts with applied discounts, I will need to:

1. Identify all Levi t-shirts from the `t_shirts` table.
2. Join this information with the `discounts` table to get the discount percentages.
3. Calculate the revenue by applying the discounts to the prices and multiplying by the stock quantity.

I will now construct the SQL query to obtain this information.

```sql
SELECT t.price * (1 - d.pct_discount / 100) * t.stock_quantity AS revenue
FROM t_shirts t
JOIN discounts d ON t.t_shirt_id = d.t_shirt_id
WHERE t.brand = 'Levi'

Invoking: `sql_db_query` with `{'query': "SELECT t.price * (1 - d.pct_discount / 100) * t.stock_quantity AS revenue\nFROM t_shirts t\nJOIN discounts d ON t.t_shirt_id = d.t_shirt_id\nWHERE t.brand = 'Levi'"}`


1;3m[(Decimal('1215.000000'),), (Decimal('425.000000'),), (Decimal('1108.800000'),), (Decimal('1045.000000'),), (Decimal('1089.000000'),), (Decimal('3384.000000'),), (Decimal('582.400000'),), (Decimal('378.950000'),), (Decimal('1008.000000'),), (Decimal('354.200000'),), (Decimal('459.000000'),), (Decimal('1649.000000'),), (Decimal('560.000000'),), (Decimal('678.300000'),), (Decimal('1665.000000'),), (Decimal('882.000000'),), (Decimal('872.900000'),), (Decimal('600.600000'),), (Decimal('1214.400000'),), (Decimal('1069.200000'),)]
Invoking: `sql_db_query` with `{'query': "SELECT SUM(t.price * (1 - d.pct_discount / 100) * t.stock_quantity) AS total_revenue\nFROM t_shirts t\nJOIN discounts d ON t.t_shirt_id = d.t_shirt_id\nWHERE t.brand = 'Levi'"}`
responded: The total revenue generated from selling all Levi t-shirts with applied discounts can be summed up from the results. Here are the individual revenues:

1. 1215.00
2. 425.00
3. 1108.80
4. 1045.00
5. 1089.00
6. 3384.00
7. 582.40
8. 378.95
9. 1008.00
10. 354.20
11. 459.00
12. 1649.00
13. 560.00
14. 678.30
15. 1665.00
16. 882.00
17. 872.90
18. 600.60
19. 1214.40
20. 1069.20

Now, I will sum these values to get the total revenue.

The total revenue generated from selling all Levi t-shirts with applied discounts is approximately **$20,240.75**.

> Finished chain.
The total revenue generated from selling all Levi t-shirts with applied discounts is approximately **$20,240.75**.

In [10]:
response = agent.invoke(
    {"input": "How many white color levi tshirts we have"},
    config={"callbacks": [langfuse_handler]}
)
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


0mdiscounts, t_shirts
Invoking: `sql_db_schema` with `{'table_names': 't_shirts'}`



CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43

Invoking: `sql_db_query_checker` with `{'query': "SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'"}`


```sql
SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'

Invoking: `sql_db_query` with `{'query': "SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'"}`


There are 5 different entries for white Levi t-shirts with the following stock quantities: 98, 29, 28, 92, and 54.

> Finished chain.
There are 5 different entries for white Levi t-shirts with the following stock quantities: 98, 29, 28, 92, and 54.

In [11]:
import pandas as pd
import datetime
from IPython.display import display
from openpyxl import load_workbook  # Required for appending Excel files

# Initialize Langfuse callback handler for this cell
langfuse_handler = CallbackHandler()

# -----------------------------
# Step 1: User input
# -----------------------------
user_prompt = input("Enter your query (e.g., 'How many red Levi t-shirts?'): ")

# -----------------------------
# Step 2: Run through SQL Agent with Langfuse tracking
# -----------------------------
response_data = agent.invoke(
    {"input": user_prompt},
    config={"callbacks": [langfuse_handler]}
)
response = response_data["output"]

# Extract raw SQL result
try:
    if isinstance(response, list):
        df = pd.DataFrame(response)
    elif isinstance(response, pd.DataFrame):
        df = response.copy()
    else:
        df = pd.DataFrame({"Result": [response]})
except Exception as e:
    print("‚ùå Error converting result to DataFrame:", e)
    df = pd.DataFrame({"Result": [response]})

# -----------------------------
# Step 3: Add metadata
# -----------------------------
df["User Prompt"] = user_prompt
df["Timestamp"] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# -----------------------------
# Step 4: Append to Excel
# -----------------------------
excel_file = "query_result.xlsx"

try:
    # Try to open existing file
    book = load_workbook(excel_file)
    with pd.ExcelWriter(excel_file, engine="openpyxl", mode="a", if_sheet_exists="overlay") as writer:
        df.to_excel(writer, sheet_name="Results", index=False, header=False, startrow=writer.sheets["Results"].max_row)
    print(f"‚úÖ Result appended to {excel_file}")
except FileNotFoundError:
    # If file does not exist, create it
    with pd.ExcelWriter(excel_file, engine="openpyxl") as writer:
        df.to_excel(writer, sheet_name="Results", index=False)
    print(f"‚úÖ Excel file created: {excel_file}")

# -----------------------------
# Step 5: Display the DataFrame
# -----------------------------
display(df)

Enter your query (e.g., 'How many red Levi t-shirts?'):  what do we mainly sell

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


0mdiscounts, t_shirts
Invoking: `sql_db_schema` with `{'table_names': 't_shirts'}`



CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	XS	25	97
2	Van Huesen	Red	S	39	72
3	Van Huesen	Red	M	21	43
*/
Invoking: `sql_db_schema` with `{'table_names': 'discounts'}`



CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
The database contains two main tables: `t_shirts` and `discounts`.

1. **t_shirts**: This table includes details about t-shirts, such as:
   - `t_shirt_id`: Unique identifier for each t-shirt.
   - `brand`: The brand of the t-shirt (e.g., Van Huesen, Levi, Nike, Adidas).
   - `color`: The color of the t-shirt (e.g., Red, Blue, Black, White).
   - `size`: The size of the t-shirt (e.g., XS, S, M, L, XL).
   - `price`: The price of the t-shirt.
   - `stock_quantity`: The quantity of t-shirts available in stock.

2. **discounts**: This table includes information about discounts applied to t-shirts, with:
   - `discount_id`: Unique identifier for each discount.
   - `t_shirt_id`: The identifier for the t-shirt that the discount applies to.
   - `pct_discount`: The percentage discount on the t-shirt.

Given this information, it seems that the main products sold are t-shirts from various brands.

If you would like more specific details, such as the most popular t-shirts or their prices, please let me know!

> Finished chain.
‚úÖ Result appended to query_result.xlsx

,Result,User Prompt,Timestamp
0,The database contains two main tables: `t_shir...,what do we mainly sell,2025-11-21 09:13:33